*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.nav{
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    /* vertical-align: middle; */
    align-items: center;
}

.logo{
    color: rgb(248, 220, 136);
    font-size: 30px;
    padding: 30px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links a{
    color: rgb(248, 220, 136);
    
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
}





.first{
    width: 100%;
    /* height: 100vh; */
    position: relative;
}

.content{
    /* position: absolute; */
    width: 100%;
    min-height: 100vh;
    /* background-color: lightcoral; */
    overflow: hidden;
}
.heading{
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;



}
.heading h1{    
    color: rgb(248, 220, 136);
    font-size: 30vw;
    /* background-color: lightblue; */
    text-align: center;
    font-family: 'NCL Broesq', sans-serif;
    font-family: 'JunebugStompNF', sans-serif;
    font-family: 'Sifonn', sans-serif;                                            

}

.heading h4{
    color: rgb(248, 220, 136);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





.second{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    /* background-color: aliceblue; */
}

.video video{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec-text{
    /* position: absolute; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    color: rgb(248, 220, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 70px 0px;
    gap: 30px;
}

.sec-text h1{
    font-size: 190px;    
    font-weight: 500;
    line-height: 170px;
    margin-top: 20px;
    place-self: center;
}
.sec-text span{
    font-family: serif;
    font-weight: 100;
    font-style: italic;
}
.sec-text p{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 0 50px;
}









.third{
    width: 100%;
    /* background-color: red; */
    margin-bottom: 150px;
    margin-top: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;



}


.cards{
    /* position: absolute; */
    top: 20px;
    /* height: 100%; */
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-count: 2;
    column-gap: 110px;
}

.card{
    width: 700px;
    height: 550px;
    margin: 30px 50px;
    /* background-color: rgb(248, 220, 136); */

}
.card-video{
    /* background-color: black; */
    width: 100%;
    height: 80%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card-video:hover{
    transform: scale(.95);
    transition: all 0.3s ease-in-out;
}
.thr-video{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}
.card-video:hover .thr-video{
    transition: all 0.3s ease-in-out;
    transform: scale(1.15);

}



.card-img{
    /* background-color: black; */
    width: 100%;
    height: 80%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.card-img img{
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.card-img:hover{
    transform: scale(.95);
    transition: all 0.3s ease-in-out;
}

.card-img:hover img{
    transition: all 0.3s ease-in-out;
    transform: scale(1.15);

}



.card-text{
    width: 100%;
    height: 10%;
    /* background-color: rgb(20, 18, 12); */
    color: rgb(248, 220, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: self-start;
}






.card2{
    width: 500px;
    height: 350px;
    margin: 30px 50px;
    margin-top: 15%;
}


.card3{
    width: 450px;
    height: 450px;
    margin: 30px 50px;
    /* margin-top: 20%; */
}


.card4{
    width: 750px;
    height: 700px;
    margin: 30px 50px;
    margin-top: 15%;
}

.card5{
    width: 900px;
    height: 900px;
    margin: 0 auto;

}





.last-thr-sec-text {
    position: relative;
    color: rgb(248, 220, 136);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 25px 40px;
    margin-top: 100px;
    /* display: flex;  */
    line-height: 1; /* Tighten text alignment */
}

.last-thr-sec-text p {
    position: relative;
    z-index: 1; /* Above pseudo-element */
    margin: 0;
}

.last-thr-sec-text::after {
    content: '';
    position: absolute;
    top: -45%;
    left: -5%;
    width: 380px;
    height: 140px;
    border: 2px solid rgb(248, 220, 136);
    border-radius: 50%;
    z-index: 0; /* Behind text */
    transition: .2s linear;
}

.last-thr-sec-text:hover::after {
    transform:  rotate(-20deg) scale(1.1, 1.3);
    width: 380px;
    /* height: 170px; */
}





.fourth{
    /* height: 100vh; */
    width: 100%;
    position: relative;

}

.pg-heading{
    width: 100%;
    /* height: 100%; */
    background-color: rgb(18, 135, 174);
    overflow-x: hidden;
    

}

.pg-heading h1{
    
    font-family: 'Sifonn', sans-serif;  
    font-size: 40vw;
    width: 100%;

}







.fifth{
    height: 100vh;
    width: 100%;
    margin-top: 200px;
    background-color: rgb(184, 99, 245);
    position: relative;
    display: flex;

}

.boxi{
    height: 300px;
    width: 300px;
    /* background-color: lightblue; */
    margin: 50px 20px;
}





































































