*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(16, 16, 16);
}
.cursor {
    z-index: 1000;
    opacity: 0;
    position: fixed;
    width: 25px;
    height: 25px;
    background-color: rgb(16, 16, 16);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: scale 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 20px;  */
}
.cursor i {
    font-size: 10px;
    color: rgb(231, 208, 177);
    transition: scale 0.3s ease;
    font-weight: 400;

}







/* LOADER STYLES */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row; /* Changed to row for vertical bars */
    z-index: 99999; /* Ensure it's on top */
    overflow: hidden; /* Hide anything outside the bars */
    justify-content: center; /* Center welcome message */
    align-items: center;
    /* background-color: #0d1b2a; Ensure a solid background for the overlay */
}

.loader-bar {
    height: 100%; /* Changed to 100% height */
    width: 20%; /* 5 bars, each 20% width = 100% */
    background-color: rgb(231, 208, 177); /* Prominent accent color */
    transform-origin: top; /* For scaleY animation */
}
/* Alternate bar colors for visual effect */
.loader-bar:nth-child(even) {
    background-color: rgb(231, 208, 177); /* Prominent accent color */
}

.logo-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap; /* Allow logos to wrap */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between logos */
    max-width: 80%; /* Limit container width */
    z-index: 100000; /* Above bars */
}

.loader-logo {
    width: 220px; /* Size of individual logos */
    height: 220px;
    object-fit: contain;
    position: absolute;
    /* background-color: aqua; */
    opacity: 0;
    transform: scale(0.5); /* Start smaller */
}
















.nav{
    /* background-color: black; */
    width: 100%;
    height: 80px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    /* vertical-align: middle; */
    align-items: center;
}

.logo{
    color: rgb(231, 208, 177);
    height: 80%;
    text-align: center;
    font-size: 25px;    
    /* background-color: red; */
    margin-left: 20px;
    padding: 0px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo h1{
    opacity: 0;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}
.nav-links li{
    opacity: 0;
    padding: 30px;
    /* background-color: red; */
}
.nav-links a{
    color: rgb(231, 208, 177);
    
    text-decoration: none;
    font-size: 18px;
}





.first{
    width: 100%;
    /* height: 100vh; */
    position: relative;
}

.content{
    /* position: absolute; */
    width: 100%;
    min-height: 100vh;
    /* background-color: lightcoral; */
    overflow: hidden;
}
.heading{
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;



}

.big-heading{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(217, 173, 230); */
    display: flex;
    justify-content: center;
    overflow: hidden;
}



.big-heading h1{    
    /* color: rgb(231, 208, 177); */
    color: rgb(228, 208, 147);
    font-size: 40vw;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(1);
    /* letter-spacing: -20px; */
    /* background-color: lightblue; */
    text-align: center;
    font-family: 'NCL Broesq', sans-serif;
    font-family: 'JunebugStompNF', sans-serif;
    font-family: 'Sifonn', sans-serif;                                            

}
.heading h4{
    color: rgb(231, 208, 177);
    /* overflow: hidden; */
    /* background-color: red; */
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





.second{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    /* background-color: aliceblue; */
}

.video video{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec-text{
    /* position: absolute; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    color: rgb(231, 208, 177);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 70px 0px;
    gap: 30px;
}

.sec-text h1{
    font-size: 190px;    
    font-weight: 500;
    line-height: 170px;
    margin-top: 20px;
    place-self: center;
    /* overflow: hidden; */
    /* background-color: red; */
}
.sec-text span{
    font-family: serif;
    font-weight: 100;
    font-style: italic;
}
.sec-text p{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 0 50px;
}









.third{
    width: 100%;
    /* background-color: red; */
    margin-bottom: 150px;
    margin-top: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;



}


.cards{
    /* position: absolute; */
    top: 20px;
    /* height: 100%; */
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-count: 2;
    column-gap: 110px;
}

.card{
    width: 700px;
    height: fit-content;
    margin: 30px 50px;
    overflow: hidden;
    /* background-color: rgb(171, 122, 204); */

}
.card-video{
    /* background-color: black; */
    width: 100%;
    height: 80%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card-video:hover{
    transform: scale(.95);
    transition: all 0.3s ease-in-out;
}
.thr-video{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}
.card-video:hover .thr-video{
    transition: all 0.3s ease-in-out;
    transform: scale(1.15);

}



.card-img{
    /* background-color: black; */
    width: 100%;
    height: 80%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.card-img img{
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.card-img:hover{
    transform: scale(.95);
    transition: all 0.3s ease-in-out;
}

.card-img:hover img{
    transition: all 0.3s ease-in-out;
    transform: scale(1.15);

}



.card-text{
    width: 100%;
    /* height: 10%; */
    /* background-color: rgb(158, 150, 126); */
    color: rgb(231, 208, 177);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: self-start;
    gap: 2px;
}






.card2{
    width: 500px;
    /* height: 350px; */
    margin: 30px 50px;
    margin-top: 15%;
}


.card3{
    width: 450px;
    /* height: 450px; */
    margin: 30px 50px;
    /* margin-top: 20%; */
}


.card4{
    width: 750px;
    /* height: 700px; */
    margin: 30px 50px;
    margin-top: 15%;
}

.card5{
    width: 900px;
    /* height: 800px; */
    margin: 0 auto;

}





.last-thr-sec-text {
    position: relative;
    color: rgb(231, 208, 177);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 25px 40px;
    margin-top: 100px;
    /* display: flex;  */
    line-height: 1; /* Tighten text alignment */
}

.last-thr-sec-text p {
    position: relative;
    z-index: 1; /* Above pseudo-element */
    margin: 0;
}

.last-thr-sec-text::after {
    content: '';
    position: absolute;
    top: -45%;
    left: -5%;
    width: 380px;
    height: 140px;
    border: 2px solid rgb(231, 208, 177);
    border-radius: 50%;
    z-index: 0; /* Behind text */
    transition: .2s linear;
}

.last-thr-sec-text:hover::after {
    transform:  rotate(-20deg) scale(1.1, 1.3);
    width: 380px;
    /* height: 170px; */
}





.fourth{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.pg-heading{
    width: 100%;
    /* height: 100%; */
    background-color: rgb(18, 135, 174);
    overflow: hidden;
    /* overflow-x: hidden; */
    position: relative;
    padding-left: 50%;
}




.scroll-content {
    width: 150vw; /* or more based on your heading size */
    display: flex;
    align-items: center;
}

.scroll-content h1{
    /* margin-left: 50%; */
    font-family: 'Sifonn', sans-serif;  
    font-size: 40vw;
    width: 100%;

}

.scroll-content img {
    position: absolute;
    /* top: 30%; */
    width: 240px;
    height: 220px;
}




.one{
    position: absolute;
    top: 60%;
    left: 30%;
}

.two{
    position: absolute;
    top: 5%;
    left: 80%;
    transform: rotate(-10deg);
    /* transform: rotateX(120deg); */
}


.thr{
    position: absolute;
    top: 60%;
    left: 130%;
    transform: rotate(10deg);
}














.fifth{
    /* height: 100vh; */
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;

    /* background-color: rgb(184, 99, 245); */
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid {
    margin-top: 100px;
    margin-bottom: 200px;
    display: grid;
    gap: 200px;
    padding: 20px;
    width: 80%;

}

.row {
    /* background-color: rgb(24, 180, 24); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.row img {
    /* background-color: rgb(23, 73, 23); */
    width: 130px;
    height: 50px;
  /* object-fit: cover; */
}





/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */



.contact{
    width: 100%;
    /* height: 800px; */
    background-color: rgb(231, 208, 177);
    text-align: center;
    padding: 100px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 120px;
}

.contact p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    text-transform: uppercase;
    line-height: 80px;
    margin-top: 50px;
}
.contact span{
    position: relative;
    cursor: pointer;
}
.contact span::before{
    content: "";
    position: absolute;
    bottom: -0px;
    height: 5px;
    width: 100%;
    background-color: black;
    /* transform: scaleX(0%); */

}
.contact span:hover::before{
    /* width: 0; */
    animation: contact 2s ease;
}

@keyframes contact {
    0%{
        width: 0%;
    }
    30%{
        width: 15%;

    }
    100%{
        width: 100%;
    }
}




.gif{
    /* background-color: pink; */
    width: 300px;
    height: 300px;
    position: relative;

}

.gif img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
}



.projects{
    /* background-color: lightblue; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
}
.projects P{
    /* opacity: .5; */
    color: rgb(231, 208, 177);
    font-size: 7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.projects p span{
    opacity: .4;

}




/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */



.footer{
    /* background-color: rgb(157, 62, 62); */
    width: 100%;
    height: 70px;
    padding: 20px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul{
    /* background-color: rgb(186, 145, 145); */
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.footer ul a{
    text-decoration: none;
    color: inherit;
}
.footer ul li{
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: .3s ease;
}
.footer ul li span{
    color: rgb(231, 208, 177);
    letter-spacing: 5px;
    font-size: 17px;

}

.footer ul li:hover{
    color: rgb(231, 208, 177);

}


























